.vehicle-container {
    background-color: grey !important;
    width: 200px;
    border-radius: 8px;
}

.vehicle-image {
    border-radius: 8px;
    width: 100%;
}

.vehicle-title {
    font-weight: 700;
    font-size: 17px;
}

.middle-row {
    display: flex;
}

.last-row {
    display: flex;
}

button {
    background-color: black;
    color: white;
    border-radius: 18px;
    width: 10px;
    height: 30px;
    font-size: 10px;
    border: none;
}

.vehicle-price {
    color: #38A169;
    font-weight: 600;
}