.container {
    color: white;
    background-color: #000000;
    padding: 0px;
    min-width: 100vw;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

.footer-container {
    display: flex;
    color: white;
    background-color: black;
    justify-content: space-between;
    padding: 4%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}


.website-name {
    color: #34D399;
    font-size: 20px;
    font-weight: bold;
}

.website-slogan {
    color: #D9D9D9;
    font-size: 14px;
    padding-top: 14px;
}

.link {
    color: #D9D9D9;
    font-size: 14px;
    padding-top: 12px;
}

.quick-links {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.contacts {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.follow-us {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

hr {
    background-color: #D9D9D9;
}

.copyright {
    text-align: center;
    padding: 8px;
    font-size: 13px;
}

@media (max-width: 1024px) {
    .container, .footer-container {
        width: 100% !important;
    }
}