nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 106px 0px 20px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 14%;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none !important;
    display: flex;
}

a:visited {
    color: white;
    text-decoration: none; 
}

a:hover {
    color: #34D399;
}

.logo a {
    color: #34D399;
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
}