nav {
    display: flex;
    gap: 50%;
    width: 100%;
    background-color: black;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10%;
    color: white;
}

a {
    color: white;
}

a:visited {
    text-decoration: none;
}

.logo {
    color: #34D399;
}